# Reduce logging level to make sure the application works with SAM local
# https://github.com/awslabs/aws-serverless-java-container/issues/134
#logging:
#  level:
#    root: WARN

social-media-publisher:
  groups:
    - java-quiz
  credentials:
    login-host: 'http://localhost:8080'
    login-url: '${social-media-publisher.credentials.login-host}/oauth2/{social-media-id}/credentials'

spring:
  main:
    allow-bean-definition-overriding: true